@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the body fills the screen and prevents double scrollbars */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}